{% extends "base.html" %}
{% block title %}{{article.title}}{% endblock %}
{% load custom_markdown %}
{% block content %}
<div class="left article">
	<article>
		<h1>{{article.title}}</h1>
		<p>发布时间：{{article.publication_date|date:"Y-m-d"}} 阅读数：{{article.read_count}} 评论数：{{article.comment_count}}
			{%if "user_id" in request.session%}
			<span style="float:right">
			<a href="/postedit/{{article.id}}">编辑文章</a>
			<a href="/postdel/{{article.id}}">删除文章</a>
			</span>
			{%endif%}
		</p>

		<p>
			{{article.content|custom_markdown }}
		</p>

		<br/>
		<div id="comment">
			<div id="comment_title" class="panel_head">
        		<span class="see_comment">查看评论</span><a name="comments"></a>
			</div>
			<!-- 展示评论 -->
			<div id="comment_list">
				{% for comment in comments %}
				<dl class="comment_item">
					<dt class="comment_head" floor="1">
						{{forloop.counter}}楼
						<span class="user">
							<a class="username" href="/users/{{comment.user_id}}" target="_blank">{{comment.author}}</a>
							<span class="ptime">{{comment.comment_date|date:"Y-m-d"}}</span>
							<a href="#reply" class="cmt_btn reply" title="回复">[回复]</a>
							<span class="comment_manage" style="display: none;" commentid="5607237" username="mada26">
								<a href="#quote" class="cmt_btn quote" title="引用">[引用]</a>
								<a href="#report" class="cmt_btn report" title="举报">[举报]</a>
							</span>
						</span>
					</dt>
					<dd class="comment_body">{{comment.content}}</dd>
					<!--
					<dl class="comment_item comment_reply">
						<dt class="comment_head">回复头</dt>
						<dd class="comment_body"></dd>
					</dl>
					-->
				</dl>
				{% endfor %}
				<div class="clear"></div>
			</div>
			<!-- 回复评论 -->
			<div id="comment_form">
				<form action="/comments/{{article.id}}" method="POST">
					{% csrf_token %}
					<div class="commentform">
						<div class="panel_head">发表评论</div>
						<ul>
							<li class="commentleft">用 户 名：</li>
							<li class="commentright">
								<input type="text" name="author" value="{{request.session.nickname}}">
							</li>
						</ul>
						<ul>
							<li class="commentleft">邮 箱：</li>
							<li class="commentright">
								<input type="text" name="email" value="123@qq.com">
							</li>
						</ul>
						<ul>
							<li class="commentleft">评论内容：</li>
							<li class="commentright" style="position:relative;">

								<textarea class="comment_content" name="content" id="content" style="width:400px; height: 200px;"></textarea>
							</li>
						</ul>
						<ul>
							<input type="hidden" id="comment_parent_id" name="comment_parent_id">
							<input type="hidden" id="user_id" name="user_id" value="{{request.session.user_id}}">
							<input type="submit" class="comment_btn" value="提交">&nbsp;&nbsp;
							<span id="tip_comment" style="color: Red; display: none;"></span>
						</ul>
					</div>
				</form>
			</div>

		</div>
	</article>
</div>
<script>
$(document).ready(function() {
  $('code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});
</script>
{% include '_right_.html' %}
{% endblock %}
