{% extends "base.html"%}
{% block title %}我的博客管理-文章列表{% endblock %}
{% block content %}
<div class="left bloglist">
	<ul>
	{% for article in articles %}
		<li>
			<h2 style="float:left;"><a title="{{ article.title }}" href="/articles/{{ article.id }}">{{ article.title }}</a></h2>
			<div style="float:right;margin-top:25px;">
				<a href="/postedit/{{article.id}}">编辑</a>|<a href="/articles/{{article.id}}/delete">删除</a>
			</div>
			<p class="dateview">
				<span>{{article.publication_date|date:"Y-m-d" }}</span>
				<span>作者：{{article.author}}</span>
				<span>类型：{{article.types}}</span>
				<span>阅读数：{{article.read_count}}</span>
				<span>评论数：{{article.comment_count}}</span>
			</p>
		</li>
	{% endfor %}
    <div id="fenye">
        <a href="">上一页</a>&nbsp;&nbsp;<a href="">第i页</a>&nbsp;&nbsp;<a href="">下一页</a>
    </div>

	</ul>
</div>

{% include '_right_.html' %}

{% endblock %}

