@charset "utf-8";
/*base.css*/
body{
	margin: 0;
	padding: 0;
	background-color: #3A3A38;
	font: 16px "宋体", Arial, Helvetica, sans-serif; 
	color: #756F71;
}
header{
	width: 1000px;
	margin: auto;
	height: 80px;
	position: relative;
	overflow: hidden;
}

nav {
	
}

footer{
	text-align: center; 
	line-height: 40px; 
	border-top: #E8E8E8 1px solid ; 
	width:1000px; 
	margin:auto;
}

#container {
	width:60%;
	min-width:780px;
	max-width: 1260px;
	min-height: 1000px;
	margin: 0 auto;
	background-color: #f5f5d5;
	padding: 1em;
}

#alpha{
	width: 64%;
	min-width: 470px;
	max-width: 740px;
	margin-left: 3%;
	float: left;
}

#beta{
	float: right;
	width: 24%;
	padding: 0.6em;
	margin-right: 3%;
	margin-bottom: 1em;
	min-width: 180px;
	max-width: 300px;
	overflow: hidden;
}