<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <title>登录页面</title>
</head>
<body>
	{% include '_header_.html' %}
    {% include '_nav_.html' %}

    <div id="container">
		<h1>登录页面</h1>
		{% if message %}
			<p style="color: red;">
				{{message}}
			</p>
		{% endif %}
        {% if form.errors %}
            <p style="color: red;">
                请修改下面的错误{{ form.errors|pluralize }}.
            </p>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            <div class="field">
                {{ form.username.errors }}
                <label for="username">用户名:</label>
                {{ form.username }}
            </div>
            <div class="field">
                {{ form.password.errors }}
                <label for="password">密码:</label>
                <input type="password" name="password">
            </div>
            <div style="margin-left:100px;line-height:30px;display: inline-block;">没有账号？<a href="/register">注册</a></div>
            <input type="submit" class="blueBtn" value="登录" style="margin-left:100px;margin-top:10px;">
        </form>
    </div>

    {% include '_foot_.html' %}
</body>
</html>