{% extends 'base.html' %}
{% block title %}用户详情{% endblock %}
{% block content %}
<div class="left">

    <form action="" method="POST">
        {% csrf_token %}
        <div class="field">
            {{ form.username.errors }}
            <label for="username">用户名:</label>
            {{ user.username }}
        </div>
        <div class="field">
            {{ form.nickname.errors }}
            <label for="nickname">昵称:</label>
            {{ form.nickname }}
        </div>
        <div class="field">
            {{ form.email.errors }}
            <label for="email">email:</label>
            {{ form.email }}
        </div>
        <div class="field">
            {{ form.is_active.errors }}
            <label for="is_active">是否可用：</label>
            是<input type="radio" {% if user.is_active %}checked="checked"{%endif%} name="is_active" value="True">
            否<input type="radio" {% if not user.is_active %}checked="checked"{%endif%} name="is_active" value="False">
        </div>
        <div class="field">
            {{ form.is_staff.errors }}
            <label for="is_staff">是否管理员：</label>
            是<input type="radio" {% if user.is_staff %}checked="checked"{%endif%} name="is_staff" value="True">
            否<input type="radio" {% if not user.is_staff %}checked="checked"{%endif%} name="is_staff" value="False">
        </div>
        <div class="field">
            <label for="register_date">注册时间：</label>
            {{user.register_date|date:'Y-m-d'}}
        </div>

        <input type="submit" class="blueBtn" value="修改" style="margin-left:300px;margin-top:10px;">
    </form>
</div>
{% include '_right_.html' %}
{% endblock %}