{% extends "base.html"%}
{% block title %}我的博客-首页{% endblock %}
{% block content %}
<div class="left bloglist">
	<ul>
	{% for article in articles %}
		<li>
			<h2>{{ article.title }}</h2>

			<figure>
				<img src="static/img/article_1.jpg" alt="{{ article.title }}">
			</figure>

			<div class="content">
				<p>{{ article.content }}</p>
				<a title="{{ article.title }}" href="/articles/{{ article.id }}" class="readmore">阅读全文>></a>
			</div>


			<p class="dateview">
				<span>{{article.publication_date|date:"Y-m-d" }}</span>
				<span>作者：{{article.author}}</span>
				<span>类型：{{article.types}}</span>
				<span>阅读数：{{article.read_count}}</span>
				<a href="/articles/{{article.id}}#comment"><span>评论数：{{article.comment_count}}</span></a>
			</p>
		</li>
	{% endfor %}
	</ul>
</div>

{% include '_right_.html' %}

{% endblock %}

