<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的博客-首页</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	{% include '_header_.html' %}
	{% include '_nav_.html' %}

	<div id="container">
		<div class="left bloglist">
			<ul>
			{% for article in articles %}
				<li>
					<h2>{{ article.title }}</h2>

					<figure>
						<img src="static/img/article_1.jpg" alt="{{ article.title }}">
					</figure>
					
					<div class="content">
						<p>{{ article.content }}</p>
						<a title="{{ article.title }}" href="/article/{{ article.id }}" class="readmore">阅读全文>></a>
					</div>
					

					<p class="dateview">
						<span>{{article.publication_date|date:"Y-m-d" }}</span>
						<span>作者：{{article.author}}</span>
						<span>类型：{{article.types}}</span>
					</p>
		    	</li>
		    {% endfor %}
		    </ul>
		</div>
		<div class="right">
			this is right
		</div>
	</div>

    {% include '_foot_.html' %}
</body>
</html>